@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff;
  --background-raised: #fff;
  --foreground: #000;
  --accent: #5a4bad;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111827;
    --background-raised: #1f2a37;
    --foreground: #fff;
    --accent: #5a4bad;
  }
}